.button{
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    color: #F2CC8F;
    border-color: #F2CC8F;
    background: #3D405B;
    border-radius: 15%;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}
.button:hover {
    color: #3D405B;
    background-color: #F2CC8F;
}

.button.active {
    color: #3D405B;
    background-color: #F2CC8F;
}

.button.correct{
    cursor: default;
    color: #3D405B;
    background-color: #F2CC8F ;
}

.button.include{
    cursor: default;
    color: #3D405B;
    background-color: #F4F1DE;
}

.button.mistake{
    cursor: default;
    color: #F2CC8F ;
    background-color: #3D405B;
}

.button.win{
    animation-duration: 4s;
    animation-iteration-count: infinite;
    cursor: default;
    animation-name: shake;
}

@keyframes shake {
    0% {
        color: #F2CC8F ;
        background-color: #3D405B;
    }

    25% {
        color: #3D405B;
        background-color: #F2CC8F ;
    }


    50% {
        color: #F2CC8F ;
        background-color: #3D405B;
    }

    75% {

        color: #3D405B;
        background-color: #F4F1DE;
    }

    100% {
        color: #F2CC8F ;
        background-color: #3D405B;
    }
}